<section id="navLinks2">
  <div class="nav__links2">
    <ul>
      <li><a href="QandA">Frågor och Svar</a></li>
      <li><a href="contact">Kontakta oss</a></li>
      <li><a href="age-limit">Åldergränser</a></li>
      <li><a href="#" id="openModalLink">Lämna Feedback</a></li>
    </ul>
  </div>
</section>

<div id="getModal" class="modal">
  <div class="modal__content">
    <span class="close">&times;</span>
    <form id="contact-form">
      <input type="hidden" name="contact_number" />
      <label class="user__name">Name</label>
      <input type="text" name="user_name" />
      <label class="user__email">Email</label>
      <input id="email" type="email" name="user_email" />
      <label class="message">Message</label>
      <textarea id="messageText" name="message"></textarea>
      <input class="modal__button" type="submit" value="Send" />
    </form>
    <p id="result"></p>
  </div>
</div>

<section class="About-content">
  <h1>Title1</h1>
  <p>Something</p>

  <h2>Title2</h2>
  <p>Something</p>

  <h3>Title3</h3>
  <p>Something</p>

  <h4>Title4</h4>
  <p>Something</p>

  <h5>Title5</h5>
  <p>Something</p>
</section>