<h1 class="movie__headers">På bio nu</h1>
<div class="movie__wrapper">
  <div id="movieContainer1" class="movieContainer"></div>
</div>
<article class="filmAdvertising" align="center">
  <iframe
    src="https://www.youtube.com/embed/DCtjeTmJhYs?si=cbZ63StJYYydfSJU&amp;controls=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <h2>Hammarskjöld</h2>
  <h3>Premiär 25 december</h3>
</article>
<div class="infobox">
  <img
    id="infoboxFirstImg"
    class="infobox__img"
    src="/static/images/torkel.jpg"
    alt=""
  />
  <p class="infobox__text">Lorem ipsum dolor sit amet, consectetur adipiscing
    elit. Praesent hendrerit urna at turpis iaculis, in dignissim dolor
    scelerisque. Aenean egestas nunc at ligula pharetra, ac consequat ligula
    fringilla. Pellentesque sed dui nec libero aliquam tempor.
  </p>
  <p id="infoboxHiddenP" class="infobox__text">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Praesent hendrerit urna at turpis iaculis, in
    dignissim dolor scelerisque. Aenean egestas nunc at ligula pharetra, ac
    consequat ligula fringilla. Pellentesque sed dui nec libero aliquam tempor.
  </p>
  <img class="infobox__img" src="/static/images/pulpfiction.jpg" alt="" />
  <p id="infoboxLastP" class="infobox__text">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Praesent hendrerit urna at turpis iaculis, in
    dignissim dolor scelerisque. Aenean egestas nunc at ligula pharetra, ac
    consequat ligula fringilla. Pellentesque sed dui nec libero aliquam tempor.
  </p>
</div>
<h1 class="movie__headers">Kommande filmer</h1>
<div class="movie__wrapper">
  <div id="movieContainer2" class="movieContainer"></div>
</div>
<h1 class="movie__headers">Nyheter</h1>
<div class="movie__wrapper">
  <div id="movieContainer3" class="newsContainer"></div>
</div>