<div class="bg-[#F9E7E7] flex items-center justify-center h-screen">
  <div
    class="max-w-[800px] bg-[#0e3523] grid grid-cols-1 md:grid-cols-2 items-center gap-12 p-6 rounded-md shadow-lg"
  >
    <div>
      <img src="static\images\logoCinema.png" alt="cinema-logo" />
    </div>

    <div class="max-w-[300px] grid gap-6">
      <h1 class="text-3xl font-bold text-[#ffffff]">Login</h1>
      <p class="text-[#696969]">Enjoy our member only offers</p>
      <form action="/Welcome" method="get"  class="grid grid-cols-1 gap-4">
     

        <input 
          type="email" id="email"
          placeholder="Your Email" 
          class="block w-full px-4 py-2 rounded-md bg-[#FFE4B5] border border-transparent focus:outline-none focus:ring-2 focus:ring-[#FF69B4]" required
        />
        <input
          type="password" id="password"
          placeholder="Your Password"
          class="block w-full px-4 py-2 rounded-md bg-[#FFE4B5] border border-transparent focus:outline-none focus:ring-2 focus:ring-[#FF69B4]" required
        />
        
      <button type="submit" class="block bg-[#4B0082] text-white rounded-lg py-2 text-center">Login</button>      </form>
      <div class="text-[#696969] text-sm">
        <p>Don't have an account?
          <a href="/Signup" style="color: #ffffff; font-weight: bold;">Signup</a></p>
        <p>Forgot your password?
          <a href="/nothing" style="color: #ffffff; font-weight: bold;">Reset Password</a></p>
      </div>
    </div>
  </div>
</div>
<!-- This is just a frontend code-->
