<h1 class="movie__headers">Filmer</h1>
<div class="movie__wrapper">
  <ul>
    <li>
      <button id="moviesNowButton" class="filter-button active">
        <span class="checkmark">&#10004;</span>På bio nu
      </button>
    </li>
    <li>
      <button id="moviesUpcButton" class="filter-button active">
        <span class="checkmark">&#10004;</span>Kommande filmer
      </button>
    </li>
  </ul>
</div>
<div class="movie__wrapper">
  <div id="combinedMovieContainer" class="movieContainerAll"></div>
</div>
<article class="filmAdvertising" align="center">
  <iframe
    src="https://www.youtube.com/embed/tkk0c-Q_amc?si=Z-UXpI3FqTjiVQ-g&amp;controls=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <h2>Ett sista race</h2>
  <h3>Premiär 5 januari</h3>
</article>