<h1 class="movie__headers">Nyheter</h1>
<div class="card__news__wrapper">
  <div class="movie__wrapper">
    <div id="movieContainer3" class="movieContainer3"></div>
  </div>
</div>
<article class="filmAdvertising" align="center">
  <iframe
    src="https://www.youtube.com/embed/tkk0c-Q_amc?si=Z-UXpI3FqTjiVQ-g&amp;controls=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <h2>Ett sista race</h2>
  <h3>Premiär 5 januari</h3>
</article>