<div class="bg-[#F9E7E7] flex items-center justify-center h-screen">
  <div
    class="max-w-[800px] bg-[#0e3523] grid grid-cols-1 md:grid-cols-2 items-center gap-12 p-6 rounded-md shadow-lg"
  >
    <div>
          <h1  class= "text-3xl font-bold text-[#ffffff]">Welcome</h1>

      <img src="static\images\logoCinema.png" alt="cinema-logo" />

    </div>

    <div class="max-w-[300px] grid gap-6">
      <form action="" class="grid grid-cols-1 gap-4">
     

    
        
       <a href="/" id="Bg" class="block bg-[#4B0082] text-white rounded-lg py-2 text-center">Click here to be redirected</a>
      </form>
      
      </div>
    </div>
  </div>
</div>
<!-- This is just a frontend code-->
